/*
    NavBar
*/
.navBar img{
    position: absolute;
    top: 0;
    left: 0;
    height: 10vh;
}
.navBar a{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.navBar a:hover{
    background-color: goldenrod;
}
.navBar nav{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    justify-content: space-between;
}
.navBar nav div{
    display: flex;
    justify-content: space-between;
}
.navBar{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    overflow: hidden;
    background-color: gold;
    border: 2px solid black;
    z-index: 1;

    list-style-type: none;

    justify-content: space-between;
    flex-wrap: nowrap;
    flex-grow: 2;
    overflow-x: auto;
    overflow-y: hidden;
}
.navBar nav a{
    font-size: 3vh;
    padding: 0 1vh;
}
.navBar h2{
    font-size: 4vh;
    color: black;
    padding: 0;
    margin: 0;
    margin-left: 10vh;

}
.navBar h2:hover{
    color: white;
}
div.content{
    margin: 10vh 0 0 0;
}
#navBarHome{
    float: left;
}
.navBarItem{
    display: block;
    color: black;
    font-size: 32px;
    float: right;
    text-decoration: none;
    margin: 0px 20px;
}
li{
    text-decoration: none;
    list-style: none;
    text-align: center;
}

.profilePicture{ 
    display: block;
    position: relative;
    /* https://www.w3schools.com/howto/howto_css_image_center.asp */
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    border: 30px double black; /* https://developer.mozilla.org/en-US/docs/Web/CSS/border */
    
    transition: all .5s ease-in-out;
}
.profile{
    margin-left: auto;
    margin-right: auto;
}
.profileFlexContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
.profile:hover .profilePicture{
    box-shadow: -10px -10px 10px goldenrod;
    transform: scale(1.1); /* Source: https://travis.media/how-to-make-an-item-grow-on-hover-with-css/ */
}
h3{
    margin: 10px 0px 20px 20px;
    position: relative;
    text-align: center;
}
.description{
    text-align: center;
    font-size: 24px;
    color: white; /*not really even necessary since this is already inherited from body */
    background-color: rgba(0, 0, 0, .5);
}
body{ /* https://developer.mozilla.org/en-US/docs/Web/CSS/background-image */
    background-color: #333333;
    /* linear gradient: https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient */
    background-image: linear-gradient(-270deg, rgba(0, 0, 0, .5), rgba(255, 215, 0, .5)), url("images/mizzou.jpg");
    background-size: 100%;
    top: 50%;
    color: white;

    /* Challenge 4 Addition */
    font-family: 'Ubuntu', sans-serif; /* sans-serif is the backup font */
}
a{
    color:black;
    text-decoration: none; /*Doesn't work with bootstrap, follow this: https://getbootstrap.com/docs/4.2/utilities/text/#text-decoration */
}
a:hover{
    color: white;
    text-decoration: underline;
}
/*
    Challenge #3 Stylesheet
*/
#h3Columns{
    text-align: center;
    color: white;
}
h4{
    border-bottom: 1px solid gold;
}
#leftColumn, #rightColumn, #middleColumn{
    float: left;
    text-align: center;
    border-radius: 20px;
}
#leftColumn, #rightColumn{
    padding: 18px;
    margin: 18px;
    border: 7px solid gold;
    border-radius: 20px;
    height: 433px; /* Content height or physical height? */
}
#leftColumn{
    width: 247px;
}
#rightColumn{
    width: 224px;
}
#mainWrapper{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 1128px;
    border: 6px double gold;
    padding: 8px;
    border-radius: 12%;
    background-color: rgba(33, 33, 33, .8);
}
#mainWrapper::after{ /* CSS Clear Fix/Hack */
    content: "";
    clear: both;
    display: table;
}
#middleColumn{
    margin: 18px;
    width: 449px;
}
#topMiddleColumn{
    border: 7px solid gold;
    border-radius: 20px;
    margin-bottom: 25px;
    width: 375px;
    padding: 25px;
    height: 198px; /* Content height or physical height? */

}
#topMiddleColumn::after{ /* CSS Clear Fix/Hack */
    content: "";
    clear: both;
    display: table;
}
#bottomMiddleColumn{
    width: 375px;
    height: 132px; /* Content height or total height? */
    padding: 25px;
    border: 7px solid gold;
    border-radius: 20px;
}
/*
    Challenge #4 Stylesheet:
*/
#mizzouLogo{
    width: 200px;
}
#departmentCS{
    background-color: goldenrod;
}
#departmentMATH{
    background-color: black;
}
.courseDescription{
    width: 50%;
    text-align: center;
}
.table{
    margin-top: 70px;
}
thead tr{
    text-align: center;
}
#headerRow{
    text-align: left;
}
tbody tr a{
    color: white;
}
.wrapper{
    border: 5px solid gold;
    border-radius: 20px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(33, 33, 33, .8);
    overflow: hidden;
    box-shadow: -5px -5px 5px #daa520; /* Source: https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
}
.wrapper table tr{
    vertical-align: top;
    text-align: center;
}
.IDColumn{
    display: inline-block;
    float: left;
    width: 33.33%; /* While columns has varying recommended widths, I went with an even 33.33% for each */
    text-align: center;
}
hr{
    border: 1px dotted gold;
}
#IDCardPicture{
    width: 100%;
    border: 2px solid black;
    margin: 2px;
    border-radius: 20px;
}
.wrapper::after{ /* CSS Clearfix */
    content: "";
    clear: both;
    display: table;
}
/* 
    Challenge #5 Stylesheet:
    Flexbox Reference: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
.flexContainer{
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    width: 90%;
    position: relative;
    margin: 50px auto;
}
.cardContainer{
    display: flex;
    text-align: center;
    border-width: 4px;
    border-style: double;
    border-color: goldenrod;
    width: 400px;
    height: 250px;
    background-color: rgba(33, 33, 33, .8);
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px goldenrod; /* Source: https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
    overflow: hidden;
}
.cardImage{
    width: 60%;
    height: 100%;
    border-right: 10px dotted gold;
}
.cardContainer span{
    margin: 10px 10px;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif; /* Designed by Dalton Maag: https://fonts.google.com/specimen/Ubuntu?query=ubun&sidebar.open=true&selection.family=Ubuntu */
}
.cardContainer p{
    font-size: 20px;
}
.cardContainer a{
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
    color: gold;
}
.cardInfo{
    width: 40%;
    text-align: center;
}
/*
    Challenge #6
*/
.listTitle{
    text-align: center;
}
.listWrapper{
    background-color: rgba(33, 33, 33, .8);
    border: 5px solid gold;
    border-radius: 10px;
}
footer{
    text-align: center;
    margin: 10px;
}
.listItems{
    min-height: 400px;
    text-align: center;
}
.formElements{
    border: 4px double goldenrod;
    border-radius: 4px;
    margin: 4px;
    text-align: center;
}
#listForm{
    display: inline-block;
}
h5{
    text-align: center;
    border-bottom: 4px double goldenrod;
}
#formSubmit{
    background-color: green;
    border: 2px solid greenyellow;
}
#formClear{
    background-color: red;
    border: 2px solid lightcoral;
}
#errorMessage{
    color: red;
}
/* Source: https://www.w3schools.com/howto/howto_js_rangeslider.asp &  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_rangeslider*/
.slider {
    -webkit-appearance: none;
    background: white;
    -webkit-transition: .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: goldenrod;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    background: goldenrod;
    cursor: move;
}
footer a{
    background-color: darkgoldenrod;
}
/*********************************
*   Challenge 7
**********************************/
#greeting{ /* Source: https://stackoverflow.com/questions/2498003/center-a-div-box-in-the-middle-of-the-page-using-css */
    text-align: center;
    font-size: 120px;
    position: relative;
    max-height: 120px;
}
.navBarItem:active{
    background-color: yellow;
}
.navBar span{
    position: fixed;
    margin-left: 80px;
    font-size: 50px;
    color: black;
}
/********************************
*   Challenge 8
********************************/
#PHPWrapper{
    width: 60%;
    min-height: 60vh;
}
#PHPWrapper h1{
    text-align: center;
    text-decoration: underline;
}
#PHPWrapper form{
    text-align: center;
}
#PHPWrapper select{
    color: white;
    background-color: rgba(33, 33, 33, .8);
    width: 80%;
    padding: 8px 0px;
}
.name{
    font-size: 48px;
    border: 2px solid black;
    background-color: gold;
    text-align: center;
}
/********************************
*   Recommender System
********************************/
.RSContainer{
    display: flex;
    width: 100%;
    margin: 0px -5px;
    border: 5px dashed gold;
    overflow-x: scroll;
}
.RSContainer div{
    display: inline-block;
    width: 200px;
    flex: none;
    border: 2px solid black;
    margin: 4px;
    background-color: gray;
}
/********************************
*   Login
********************************/
#loginWrapper{
    text-align: center;
}
#loginWrapper input{
    display: block;
    margin: 2px auto;

    border-radius: 100vw;
}
#loginWrapper p{
    color: grey;
}
#loginWrapper p:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.centered{
    text-align: center;
    margin: 0 auto;
}
#loginWrapper iframe{
    border: none;
}

/********************************
*   Other
********************************/



